$colors: (
  html_background_color: #4472c4,
  blue_navlinks: #74c7d5,
  red_navlinks: #dc5b63,
  red_navlinks_background: #b24a50
);

@function color($colorName) {
  @return map-get($colors, $colorName);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: color(html_background_color);
  font-family: "Open Sans", sans-serif;
  font-family: "Lato", sans-serif;
}

img {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Lato|Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans&display=swap");

//------------------------------- TEST GARDE-FOU -------------------------------//
#showcase {
  background-color: #f08080;
  height: 108vh;
}

#header {
  height: 8vh;
  background-color: transparent;
  // border: 1px solid blacchk;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: auto 19%; //(1-(1000/1600))/2 = 18,75%
}

#logo {
  height: 8vh;
  // border: 1px solid red;
  // background-color: red;
  width: 20%;
  cursor: pointer;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-family: "Pacifico", cursive;
  color: white;
  font-style: italic;
  font-weight: lighter;
  font-size: 1.7rem;
  a {
    margin-bottom: 0;
    // padding-bottom: 5px;
    text-decoration: none;
    color: white;
  }
}

#nav {
  height: 8vh;
  // border: 1px solid blue;
  // background-color: blue;
  // width: 50px;
  display: flex;
  align-items: flex-end;
  .nav_links {
    text-decoration: none;
    list-style: none;
    // margin-right: 20px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    li {
      display: inline-block;
      padding: 70px 20px 10px 20px;
      // background-color: color(blue_navlinks);
      border-radius: 0 0 3px 3px;
      // transition: all 0.3s ease 0s;
      a {
        text-decoration: none;
        color: white;
        font-size: 0.8rem;
      }
      a:hover {
        color: lightgrey;
      }
    }
  }
}

//------------------------------- FIN TEST GARDE-FOU  -------------------------------//

//------------------------------- INTRODUCTION TEXT  -------------------------------//

.container {
  width: 62%;
  height: 92vh;
}

.intoductionText {
  text-align: center;
  color: white;
  font-weight: lighter;
  margin: 4rem auto;
  h2{
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  h3 {
    font-size: 1rem;
    text-transform: uppercase;
    span{
      color: rgb(149, 137, 137);
    }
  }
  p {
    font-size: 1rem;
    color: lightgray;
  }
}
