$colors: (
  blue_homepage: #74c7d5,
  red_navlinks: #dc5b63,
  red_navlinks_background: #b24a50,
  red_boxes: #c45158,
  mauve_navlinks: #90778E,
  mauve_navlinks_background: #685666,
  mauve_boxes: #594957,
  green_bubble_box: #A1CA6C,
  green_navlinks: #A1C96C,
  green_navlinks_background: #84A558,
  hr_color: rgb(167, 207, 115),
  portfolio_tab: #F5C149
);

@function color($colorName) {
  @return map-get($colors, $colorName);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: color(html_background_color);
  font-family: "Montserrat", sans-serif;
  font-family: "Lato", sans-serif;
  //   background-image: url(../img-tkt/background-image_homepage.jpg);
  //   background-size: cover;
  background: color(green_navlinks_background);
//   background: url(../img-tkt/bg-head.png);
//   background: url(../img-tkt/img-bg1.png);
}

img {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Lato|Pacifico&display=swap");

//------------------------------- SPECIFIC -------------------------------//


.intoductionText{
  margin-bottom: 2.5rem;
}


hr{
  background: color(hr_color);
}

.portfolioSection{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: flex-end;
  .portfolio{
    color: white;
    margin-right: auto;
    margin-bottom: 0;
    font-size: 1rem;
    margin-left: 15px;
  }
  .portfolio_nav_links li{
    display: inline;
    text-decoration: none;
    list-style: none;
    margin: auto 15px;
    padding: 8px;
    border-radius: 5px;
    a {
      text-decoration: none;
      color: white;
      font-size: 0.8rem;
    }
  }
  .portfolio_nav_links li:hover, .portfolio_nav_links li:target{
    background-color: color(portfolio_tab);
  }
}

p{
  font-size: 0.7rem;
  color: rgb(156, 152, 152);
}


.card-body{
  padding: 10px;
  text-align: center;
}

.cardContainer{
  padding: 5px;
}

#photosGallery{
  margin-top: 2rem;
  margin-bottom: 4rem;
}