$colors: (
  blue_homepage: #74c7d5,
  red_navlinks: #dc5b63,
  red_navlinks_background: #b24a50,
  red_boxes: #c45158
);

@function color($colorName) {
  @return map-get($colors, $colorName);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: color(html_background_color);
  font-family: "Montserrat", sans-serif;
  font-family: "Lato", sans-serif;
  //   background-image: url(../img-tkt/background-image_homepage.jpg);
  //   background-size: cover;
  background: color(red_navlinks_background);
}

img {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Lato|Pacifico&display=swap");

//------------------------------- SPECIFIC -------------------------------//

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: color(red_boxes);
  img {
    background: #fff;
    border: 2px solid red;
  }
  h3 {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-top: 0.8rem;
  }
  p {
    font-size: 0.8rem;
    margin-top: 1.5rem;
    text-align: center;
  }
}

.cardContainer {
  padding-right: 8px;
  padding-left: 8px;
  margin-top: 1rem;
}
